@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";

.form {
    @extend %relative;
    @extend %header_height_offset;
    height: $form_page_height;
    @extend %as_wide_as_parent;
    @extend %text_center;
    background-color: $orange;
    color: $smoke_white;
}
    .desktop-form-text, .mobile-form-text {
        @extend %padding_x;
        padding-top: $form-text_padding_y;
        padding-bottom: $form-text_padding_y;
        line-height: $form-text_line-height;
        @media screen and (min-width: $bt_xs_width) {
            font-size: $form-text_font-size_desktop;
        }
        @media screen and (max-width: $bt_xs_width) {
            font-size: $form-text_font-size_mobile;
        }
        .fill_in {
            color: white;
        }
    }
    .arrows-div {
        width: 60px;
        height: 70px;
        @extend %margin_center_x;
    }
    .typeform-div {
        @extend %half_height_of_parent;
        @extend %padding_x;
    }