@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";

.introduction {
    @extend %relative;
    @extend %header_height_offset;
    @extend %as_wide_as_parent;
    @extend %text_center;
}
    .introduction-content {
        @extend %padding_x;
        padding: $introduction_padding_y;
        line-height: $introduction-text_line-height;
        .prev-button, .next-button {
            @extend %clickable;
            @extend %absolute;
            top: 46%;
            width: 100px;
            height: 100px;
            @extend %round_border;
            @extend %text_center;
            font-size: 75px;
            border: 3px solid #fff;
            transition: 0.1s;
            transition-timing-function: cubic-bezier(0.51, -0.65, 0.63, 1.57);
            @media screen and (max-width: $bt_md_width) {
                display: none;
            }
            &:hover {
                border: 3px solid #505050;
                transform: scale(1.11);
                transition: 0.3s;
                transition-timing-function: cubic-bezier(0.51, -0.65, 0.63, 1.57);
            }
        }
        .prev-button {
            left: 160px;
        }
        .next-button {
            right: 160px;
        }
    }
        .introduction-title {
            padding-bottom: $introduction-text-title_padding-bottom;
            @extend %bold_font;
            font-size: $introduction-text-title_font-size;
            color: $black;
        }
        img.introduction-slide {
            width: 60%;
            
            @extend %margin_center_x;
        }