@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/placeholders";

@import "components/slides-buttons";

.introduction {
    @extend %relative;
    @extend %header_height_offset;
    @extend %as_wide_as_parent;
    @extend %text_center;
}
    .introduction-content {
        @extend %padding_x;
        padding: $introduction_padding_y;
        line-height: $introduction-text_line-height;
    }
        .introduction-title {
            padding-bottom: $introduction-text-title_padding-bottom;
            @extend %bold_font;
            font-size: $introduction-text-title_font-size;
            color: $black;
        }
        img.introduction-slide {
            width: 60%;
            @extend %margin_center_x;
        }