/* reset of css */
/* line 2, ../../sass/helpers/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../../sass/helpers/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../sass/helpers/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../../sass/helpers/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../../sass/helpers/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../../sass/helpers/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../../sass/helpers/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset of css */
/* line 4, ../../sass/helpers/_placeholders.scss */
.header, .side-nav {
  position: fixed;
}

/* line 5, ../../sass/helpers/_placeholders.scss */
.side-nav .side-nav-buttons, .side-nav .side-nav-button-center, .introduction-slides .prev-button, .introduction-slides .next-button, .language-switch, .language-switch-button, .language-switch-arrow {
  position: absolute;
}

/* line 6, ../../sass/helpers/_placeholders.scss */
.header-logo-div, .header-logo, .header-logo-shadow, .side-nav .side-nav-button, .join, .join-img, .introduction, .core, .game-text, .social-text, .expert-text, .game-img, .social-img, .expert-img, .form, .contact-us {
  position: relative;
}

/* line 7, ../../sass/helpers/_placeholders.scss */
.language-switch-arrow {
  z-index: 2;
}

/* line 10, ../../sass/helpers/_placeholders.scss */
.language-switch-arrow {
  right: 0;
}

/* line 14, ../../sass/helpers/_placeholders.scss */
.header, .header-logo-shadow, .join, .introduction, .core, .form, .language-switch-button, .language-switch-content {
  width: 100%;
}

/* line 16, ../../sass/helpers/_placeholders.scss */
.header-logo-div, .header-logo, .header-logo-shadow, .join-img, .game, .social, .expert, .language-switch-button {
  height: 100%;
}

/* line 17, ../../sass/helpers/_placeholders.scss */
.typeform-div {
  height: 50%;
}

/* line 20, ../../sass/helpers/_placeholders.scss */
.side-nav, .join, .introduction, .core, .form {
  top: 93px;
}

/* line 23, ../../sass/helpers/_placeholders.scss */
.header-logo-div, .introduction-slides img, .arrows-div {
  margin: 0 auto;
}

/* line 26, ../../sass/helpers/_placeholders.scss */
.side-nav .side-nav-button, .side-nav .side-nav-button-center, .introduction-slides .prev-button, .introduction-slides .next-button {
  border-radius: 50%;
}

/* line 29, ../../sass/helpers/_placeholders.scss */
.introduction-slides, .desktop-form-text, .mobile-form-text, .typeform-div {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 35, ../../sass/helpers/_placeholders.scss */
.header-logo, .header-logo-shadow, .join-img, .game-img, .social-img, .expert-img, .language-switch-button, .language-switch-arrow {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 42, ../../sass/helpers/_placeholders.scss */
.side-nav, .join-text, .join-button, .introduction, .core, .form, .contact-us {
  text-align: center;
}

/* line 43, ../../sass/helpers/_placeholders.scss */
.join-button {
  text-decoration: none;
}

/* line 44, ../../sass/helpers/_placeholders.scss */
.welcome-text, .introduction-title, .game-text .core-text-title, .social-text .core-text-title, .expert-text .core-text-title {
  font-weight: bold;
}

/* line 45, ../../sass/helpers/_placeholders.scss */
.users-text .users-num-before, .users-text .users-num-after {
  font-weight: 300;
}

/* line 46, ../../sass/helpers/_placeholders.scss */
.welcome-text, .game-text .core-text-title, .social-text .core-text-title, .expert-text .core-text-title {
  font-family: 'Microsoft JhengHei', 'EXO 2';
}

/* line 50, ../../sass/helpers/_placeholders.scss */
.introduction-slides .prev-button, .introduction-slides .next-button, .language-switch-button:hover, .language {
  cursor: pointer;
}

/* line 3, ../../sass/helpers/_default.scss */
body {
  font-family: "Microsoft JhengHei", "Exo";
}

/* header bar */
/* line 5, ../../sass/layout/_header.scss */
.header {
  top: 0;
  z-index: 2;
  height: 93px;
  background-color: white;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: whitesmoke;
  box-shadow: 0 1px 5px #505050;
}

/* line 17, ../../sass/layout/_header.scss */
.header-logo-div {
  width: 250px;
}

/* line 23, ../../sass/layout/_header.scss */
.header-logo {
  z-index: 5;
  background-image: url("../images/Ludo_logo.png");
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
/* line 30, ../../sass/layout/_header.scss */
.header-logo:hover {
  opacity: 0;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/* line 35, ../../sass/layout/_header.scss */
.header-logo-shadow {
  top: -93px;
  z-index: 2;
  background-image: url("../images/Ludo_logo_shadow.png");
}

/* end of header bar */
/* side-nav */
/* line 5, ../../sass/layout/_side-nav.scss */
.side-nav {
  height: 100%;
  width: 40px;
  z-index: 2;
}
/* line 13, ../../sass/layout/_side-nav.scss */
.side-nav .side-nav-buttons {
  top: 33%;
}
/* line 18, ../../sass/layout/_side-nav.scss */
.side-nav .side-nav-button {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
}
/* line 26, ../../sass/layout/_side-nav.scss */
.side-nav .side-nav-button-center {
  top: 7.5px;
  left: 7.5px;
  width: 5px;
  height: 5px;
  background-color: #cfd8dc;
}
/* line 35, ../../sass/layout/_side-nav.scss */
.side-nav .side-nav-button:hover, .side-nav .active {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.2) translateY();
  -ms-transform: scale(1.2) translateY();
  -moz-transform: scale(1.2) translateY();
  -webkit-transform: scale(1.2) translateY();
  -o-transform: scale(1.2) translateY();
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* end of side-nav */
/* join */
/* line 5, ../../sass/layout/_join.scss */
.join {
  height: 560px;
  background-color: #0e579b;
  color: white;
}

/* line 13, ../../sass/layout/_join.scss */
.join-text {
  line-height: 1.2;
}

/* line 17, ../../sass/layout/_join.scss */
.welcome-text {
  margin-top: 64px;
}
@media screen and (min-width: 992px) {
  /* line 17, ../../sass/layout/_join.scss */
  .welcome-text {
    font-size: 48px;
  }
}
@media screen and (max-width: 992px) {
  /* line 17, ../../sass/layout/_join.scss */
  .welcome-text {
    font-size: 38px;
  }
}

/* line 28, ../../sass/layout/_join.scss */
.users-text {
  font-size: 24px;
}
/* line 33, ../../sass/layout/_join.scss */
.users-text .users-num {
  line-height: 1.3;
  font-size: 100px;
}

/* line 38, ../../sass/layout/_join.scss */
.join-button {
  width: 120px;
  height: 40px;
  border: solid;
  border-color: #0a3f70;
  border-width: 1px;
  padding: 8px;
  font-size: 24px;
}

/* line 50, ../../sass/layout/_join.scss */
.join-button.btn {
  line-height: 1;
  color: white;
  background-color: #0a3f70;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
/* line 57, ../../sass/layout/_join.scss */
.join-button.btn:hover {
  color: #0a3f70;
  background-color: white;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/* line 63, ../../sass/layout/_join.scss */
.join-img {
  float: right;
  background-image: url("../images/join.png");
}

/* end of join */
/* introduction */
/* line 11, ../../sass/layout/_introduction.scss */
.introduction-slides {
  padding: 40px;
  line-height: 1.2;
}
/* line 15, ../../sass/layout/_introduction.scss */
.introduction-slides img {
  width: 60%;
}
/* line 19, ../../sass/layout/_introduction.scss */
.introduction-slides .prev-button, .introduction-slides .next-button {
  top: 50%;
  width: 23px;
  height: 23px;
}
/* line 25, ../../sass/layout/_introduction.scss */
.introduction-slides .prev-button:hover, .introduction-slides .next-button:hover {
  color: white;
  background-color: #505050;
}
/* line 29, ../../sass/layout/_introduction.scss */
.introduction-slides .prev-button:active, .introduction-slides .next-button:active {
  color: white;
  background-color: #505050;
}
/* line 34, ../../sass/layout/_introduction.scss */
.introduction-slides .prev-button {
  left: 160px;
}
/* line 38, ../../sass/layout/_introduction.scss */
.introduction-slides .next-button {
  right: 160px;
}

/* line 43, ../../sass/layout/_introduction.scss */
.introduction-title {
  padding-bottom: 20px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}

/* end of introduction */
/* core */
/* line 5, ../../sass/layout/_core.scss */
.core {
  background-color: #ff9300;
  color: white;
}

/* line 13, ../../sass/layout/_core.scss */
.core.row {
  margin: 0;
}

/* line 20, ../../sass/layout/_core.scss */
.game-text, .social-text, .expert-text {
  margin-bottom: 30px;
  line-height: 1.3;
}
/* line 25, ../../sass/layout/_core.scss */
.game-text .core-text-title, .social-text .core-text-title, .expert-text .core-text-title {
  font-size: 36px;
  padding-bottom: 20px;
}
/* line 31, ../../sass/layout/_core.scss */
.game-text .core-text-content, .social-text .core-text-content, .expert-text .core-text-content {
  padding-bottom: 6px;
  font-size: 18px;
}

/* line 36, ../../sass/layout/_core.scss */
.game-img, .social-img, .expert-img {
  height: 200px;
}
@media screen and (min-width: 768px) {
  /* line 36, ../../sass/layout/_core.scss */
  .game-img, .social-img, .expert-img {
    background-size: 35%;
  }
}
@media screen and (max-width: 768px) {
  /* line 36, ../../sass/layout/_core.scss */
  .game-img, .social-img, .expert-img {
    background-size: 30%;
  }
}

/* line 47, ../../sass/layout/_core.scss */
.game-img {
  background-image: url("../images/game.png");
}

/* line 48, ../../sass/layout/_core.scss */
.social-img {
  background-image: url("../images/social.png");
}

/* line 49, ../../sass/layout/_core.scss */
.expert-img {
  background-image: url("../images/expert.png");
}

/* end of core */
/* form */
/* line 5, ../../sass/layout/_form.scss */
.form {
  height: 750px;
  background-color: #fbc02c;
  color: whitesmoke;
}

/* line 14, ../../sass/layout/_form.scss */
.desktop-form-text, .mobile-form-text {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  /* line 14, ../../sass/layout/_form.scss */
  .desktop-form-text, .mobile-form-text {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  /* line 14, ../../sass/layout/_form.scss */
  .desktop-form-text, .mobile-form-text {
    font-size: 18px;
  }
}
/* line 25, ../../sass/layout/_form.scss */
.desktop-form-text .fill_in, .mobile-form-text .fill_in {
  color: white;
}

/* line 29, ../../sass/layout/_form.scss */
.arrows-div {
  width: 60px;
  height: 70px;
}

/* line 39, ../../sass/layout/_form.scss */
.arrows {
  width: 60px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}

/* line 47, ../../sass/layout/_form.scss */
.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 71, ../../sass/layout/_form.scss */
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari and Chrome */
}

/* line 76, ../../sass/layout/_form.scss */
.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari and Chrome */
}

/* line 81, ../../sass/layout/_form.scss */
.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari and Chrome */
}

/* end of form */
/* line 4, ../../sass/components/_language-switch.scss */
.language-switch {
  width: 100px;
  height: 25px;
  right: 10px;
  margin-top: -25px;
}

/* line 11, ../../sass/components/_language-switch.scss */
.language-switch-button {
  background-image: url("../images/language_drop_up_button.png");
  border-radius: 5px;
}
/* line 18, ../../sass/components/_language-switch.scss */
.language-switch-button:hover {
  box-shadow: inset -0.5px -0.5px 0.5px #505050;
}
/* line 22, ../../sass/components/_language-switch.scss */
.language-switch-button:active {
  box-shadow: inset 0.5px 0.5px 0.5px #505050;
}

/* line 26, ../../sass/components/_language-switch.scss */
.language-switch-arrow {
  width: 25px;
  height: 25px;
  background-image: url("../images/up_arrow.png");
  transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  -moz-transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  -webkit-transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  -o-transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* line 37, ../../sass/components/_language-switch.scss */
.language-switch-content {
  border-radius: 2px;
  line-height: 1.3;
  font-size: 10px;
  background-color: #fdd479;
}

/* line 44, ../../sass/components/_language-switch.scss */
.language-switch-button.clicked {
  background-image: url("../images/language_drop_down_button.png");
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* line 49, ../../sass/components/_language-switch.scss */
.language-switch-button.clicked > .language-switch-arrow {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  -moz-transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  -webkit-transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  -o-transition-timing-function: cubic-bezier(0.3, -0.3, 0.6, 1.8);
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/* line 54, ../../sass/components/_language-switch.scss */
.language-switch-button.clicked + .language-switch-content {
  transform: translateY(-32px);
  -ms-transform: translateY(-32px);
  -moz-transform: translateY(-32px);
  -webkit-transform: translateY(-32px);
  -o-transform: translateY(-32px);
}

/* line 57, ../../sass/components/_language-switch.scss */
.language {
  padding-bottom: 1.5px;
}
/* line 61, ../../sass/components/_language-switch.scss */
.language:hover {
  border-radius: 2px;
  color: #fdd479;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 66, ../../sass/components/_language-switch.scss */
.language:active {
  border-radius: 2px;
  box-shadow: inset 0.5px 0.5px 0.5px #fdd479;
}

/* line 3, ../../sass/components/_copyright.scss */
.copyright {
  padding-top: 20px;
  color: #b4b4b4;
  font-size: 12px;
}

/* line 7, ../../sass/layout/_contact-us.scss */
.contact-us {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #cfd8dc;
  color: rgba(0, 0, 0, 0.8);
}

/* line 15, ../../sass/layout/_contact-us.scss */
.contact-us-title {
  line-height: 1.8;
  font-size: 18px;
}

/* line 20, ../../sass/layout/_contact-us.scss */
.contact-us-img img {
  height: 60px;
  transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  -moz-transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  -webkit-transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  -o-transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
/* line 25, ../../sass/layout/_contact-us.scss */
.contact-us-img img:hover {
  transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
  transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  -moz-transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  -webkit-transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  -o-transition-timing-function: cubic-bezier(0.58, -0.68, 0.43, 1.9);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
